version: "3.7"

services:

  database:
    container_name: sakura-housing-development
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: admin123
      POSTGRES_USER: admin
      POSTGRES_DB: sakura-housing
      ALLOW_IP_RANGE: 0.0.0.0/0
      DB_VENDOR: postgres
      DESTROY_DATABASE_ON_RESTART: 'False'
    ports:
      - 5434:5432
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.labels.role == tanker